<ag-grid-angular
  class="ag-theme-alpine"
  id="calendario"
  style="height: 150px !important;"
  [rowData]="rowData"
  [headerHeight]="25"
  [rowHeight]="20"
  [columnDefs]="columnDefs"
  [enableColResize]="true"
  [aggFuncs]="aggFunc"
  [suppressChangeDetection]="true"
  [suppressAggFuncInHeader]="true"
  [defaultColDef]="defaultColDef"
  [frameworkComponents]="frameworkComponents"
  [autoGroupColumnDef]="autoGroupColumnDef"
  [gridOptions]="gridOptions"
  [rowClassRules]="rowClassRules"
  [getRowStyle]="getRowStyle"
  (cellEditingStopped)="edicionDeCampos($event)"
  (cellEditingStarted)="saveValue($event)"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
></ag-grid-angular>
