<div class="modal-header">
  <h4 class="modal-title text-left">Creación Orden de Trabajo</h4>
  <button type="button" class="close text-right" aria-label="close" (click)="cancelAction()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="font-size: 13px;">
  <form class="form-row dateDef" [formGroup]="formulario" (ngSubmit)="putAddOTGanttTriWeekly()"
        autocomplete="off">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="idproyecto">Id Proyecto</label>
          <input type="text" id="idproyecto" class="form-control mx-sm-6" formControlName="idProyectoControl" readonly>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="idtaskControl">Id OT</label>
          <input type="text" id="idtaskControl" class="form-control mx-sm-6" formControlName="ot"
                 [ngClass]="{ 'is-invalid': submitted && formulario.controls['ot'].invalid, 'is-valid': formulario.controls['ot'].valid }"
          >
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="cold-md-12">
        <button mat-flat-button color="primary" type="submit">Agregar</button>
      </div>
    </div>
  </form>
</div>

