<div class="modal-header">
  <h4 class="modal-title text-left">Creación - {{this.rowData.project_name}}</h4>
  <button type="button" class="close text-right" aria-label="close" (click)="cancelAction()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="font-size: 13px;">
  <form class="form-row dateDef" [formGroup]="formulario" (ngSubmit)="putAddTask4GanttTriWeekly()"
        autocomplete="off">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="idtaskInicialControl">OT</label>
          <input type="text" id="idtaskInicialControl" class="form-control mx-sm-6" formControlName="taskInicialControl"
                 readonly>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="idtaskControl">Nombre Tarea</label>
          <input type="text" id="idtaskControl" class="form-control mx-sm-6" formControlName="taskControl"
                 [ngClass]="{ 'is-invalid': submitted && formulario.controls['taskControl'].invalid, 'is-valid': formulario.controls['taskControl'].valid }"
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="idespecialidad">Especialidad</label>
          <input type="text" id="idespecialidad" class="form-control mx-sm-12"
                 [ngClass]="{ 'is-invalid': submitted && formulario.controls['especialidadControl'].invalid, 'is-valid': formulario.controls['especialidadControl'].valid }"
                 formControlName="especialidadControl">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="areaMantenimiento">Área Mantenimiento</label>
          <input type="text" id="areaMantenimiento" class="form-control mx-sm-12"
                 [ngClass]="{ 'is-invalid': submitted && formulario.controls['aMantenimientoControl'].invalid, 'is-valid': formulario.controls['aMantenimientoControl'].valid }"
                 formControlName="aMantenimientoControl">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="equipoSeccion">Equipo/Sección</label>
          <input type="text" id="equipoSeccion" class="form-control mx-sm-12"
                 [ngClass]="{ 'is-invalid': submitted && formulario.controls['equisecControl'].invalid, 'is-valid': formulario.controls['equisecControl'].valid }"
                 formControlName="equisecControl">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="iddateStartControl">Fecha Inicio</label>
          <input type="date" id="iddateStartControl" class="form-control mx-sm-12"
                 [ngClass]="{ 'is-invalid': submitted && formulario.controls['dateStartControl'].invalid, 'is-valid': formulario.controls['dateStartControl'].valid }"
                 formControlName="dateStartControl">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="iddateFinishControl">Fecha Fin</label>
          <input type="date" id="iddateFinishControl" class="form-control mx-sm-12"
                 [ngClass]="{ 'is-invalid': submitted && formulario.controls['dateFinishControl'].invalid, 'is-valid': formulario.controls['dateFinishControl'].valid }"
                 formControlName="dateFinishControl">
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="cold-md-12">
        <button mat-flat-button color="primary" type="submit">Agregar</button>
      </div>
    </div>
  </form>
</div>

