<div class="newGrilla" *ngIf="rowData">
  <ag-grid-angular
    class="ag-theme-alpine"
    id="calendario"
    style="height: 760px; min-height: 100% !important; max-height: 100%!important;"
    [rowData]="rowData"
    [treeData]="true"
    [headerHeight]="25"
    [rowHeight]="20"
    [columnDefs]="columnDefs"
    [sideBar]="sideBar"
    [aggFuncs]="aggFuncs"
    [rowSelection]="rowSelection"
    [suppressChangeDetection]="true"
    [getDataPath]="getDataPath"
    [suppressAggFuncInHeader]="true"
    [groupDefaultExpanded]="10"
    [defaultColDef]="defaultColDef"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>
