<div id="programables" class="m-1 programables">
  <form [formGroup]="programablesForm" (ngSubmit)="putApplyProgramFiltersGantt()">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-8">
            <mat-form-field appearance="fill" style="max-width: 100%; font-size: 11px !important;">
              <mat-label>Rango Fechas</mat-label>
              <mat-date-range-input [rangePicker]="rangePicker">
                <input matStartDate formControlName="filterFrom" placeholder="Start date">
                <input matEndDate formControlName="filterTo" placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancelar</button>
                  <button mat-raised-button color="primary" matDateRangePickerApply>Aceptar</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>

          </div>
          <div class="col-md-2 mt-1">
            <button class="btn btn-primary btn-sm" type="submit" [disabled]="true">Apply</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 list-group matSlideColors">
            <mat-slide-toggle formControlName="filterDate">Fecha</mat-slide-toggle>
            <mat-slide-toggle formControlName="filterRC">Ruta Crítica</mat-slide-toggle>
            <mat-slide-toggle formControlName="filterRR">Ruta Remanente</mat-slide-toggle>
          </div>
          <div class="col-md-6 list-group testRadio">
            <mat-radio-group class="example-radio-group" formControlName="radioButton" [(ngModel)]="radioButton">
              <mat-radio-button type="radio" (click)="setSearch(1)" [checked]="true"
                                [value]="1">HH
              </mat-radio-button>
              <mat-radio-button type="radio" (click)="setSearch(2)" [value]="2">Qty
              </mat-radio-button>
              <mat-radio-button type="radio"  (click)="setSearch(3)" [value]="3">Dot
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="col-md-9 p-0 pe-1" *ngIf="rowData">
        <app-grid-tw [rowData]="rowData"></app-grid-tw>
      </div>
    </div>
  </form>
</div>
