<div class="container-fluid my-2">
  <form class="needs-validation" [formGroup]="turnosForm" (ngSubmit)="getDetWeeksTurnoKpi()" novalidate>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 mb-2">
        <select class="form-select form-select-sm" id="warehouseId"
                formControlName="businessCtrl"
                [ngClass]="{ 'is-invalid': submitted && turnosForm.controls['businessCtrl'].invalid }"
                (change)="getdomclientes()">
          <option [selected]="true" [ngValue]="null" disabled>Empresa</option>
          <option *ngFor="let option of businessList" [ngValue]="option.id">{{option.id}}
            - {{option.nombre}}</option>
        </select>
      </div>

      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 mb-2">
        <select class="form-select form-select-sm" id="businessId"
                formControlName="clientCtrl"
                [ngClass]="{ 'is-invalid': submitted && turnosForm.controls['clientCtrl'].invalid }"
                (change)="getdomproyectos()">
          <option [selected]="true" [ngValue]="null" disabled>Cliente</option>
          <option *ngFor="let option of clientList" [ngValue]="option.id">{{option.id}}
            - {{option.nombre}}</option>
        </select>
      </div>

      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 mb-2">
        <select class="form-select form-select-sm" id="deptoId"
                formControlName="projectCtrl"
                [ngClass]="{ 'is-invalid': submitted && turnosForm.controls['projectCtrl'].invalid }"
                (change)="getdomyear()">
          <option [selected]="true" [ngValue]="null" disabled>Proyecto</option>
          <option *ngFor="let option of projectList" [ngValue]="option.id">{{option.id}}
            - {{option.nombre}}</option>
        </select>
      </div>

      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 mb-2">
        <select class="form-select form-select-sm" id="deptoId"
                [ngClass]="{ 'is-invalid': submitted && turnosForm.controls['yearCtrl'].invalid }"
                formControlName="yearCtrl">
          <option [selected]="true" [ngValue]="null">Año</option>
          <option *ngFor="let option of yearList" [ngValue]="option.id">{{option.id}} - {{option.nombre}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-sm " type="submit">Buscar</button>
      </div>
    </div>
  </form>
</div>

<div class="container-fluid">
  <div *ngIf="rowData">
    <app-detalles-turnos-kpi [rowData]="rowData"></app-detalles-turnos-kpi>
  </div>
</div>
