<div id="grid-wrapper" class="loadmonitor" style="width:100%; height: 100%">
  <ag-grid-angular *ngIf="this.detData"
                   style="height:42.5vh"
                   class="ag-theme-alpine"
                   [rowData]="detData"
                   id="calendario"
                   [headerHeight]="25"
                   [rowHeight]="20"
                   [enableColResize]="true"
                   [sideBar]="this.sideBar"
                   [columnDefs]="this.columnDefs"
                   [defaultColDef]="defaultColDef"
                   [rowSelection]="rowSelection"
                   [pinnedBottomRowData]="pinnedBottomRowData"
                   (firstDataRendered)="onFirstDataRendered($event)"
                   (selectionChanged)="onSelectionChanged()"
                   [suppressChangeDetection]="false"
                   (rowDataChanged)="cambiaData($event)"
                   [gridOptions]="gridOptions"
                   [rowClassRules]="rowClassRules"
                   [animateRows]="true"
                   (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
