<div class="container-fluid my-2">
  <form [formGroup]="nivelForm" (ngSubmit)="getAll()">
    <div class="row pt-2">
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 mb-2">
        <select class="form-select form-select-sm" id="warehouseId"
                formControlName="warehouseSelect"
                (change)="getdomclientes()">
          <option [selected]="true" [value]="null" disabled>Empresa</option>
          <option *ngFor="let option of warehouseList" [value]="option.id">{{option.id}}
            - {{option.nombre}}</option>
        </select>
      </div>


      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 mb-2">
        <select class="form-select form-select-sm" id="businessId"
                formControlName="businessSelect"
                (change)="getdomproyectos()">
          <option [selected]="true" [value]="null" disabled>Cliente</option>
          <option *ngFor="let option of businessList" [value]="option.id">{{option.id}}
            - {{option.nombre}}</option>
        </select>
      </div>

      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 mb-2">
        <select class="form-select form-select-sm" id="deptoId"
                formControlName="projectoSelect">
          <option [selected]="true" [value]="null" disabled>Proyecto</option>
          <option *ngFor="let option of deptoList" [value]="option.id">{{option.id}}
            - {{option.nombre}}</option>
        </select>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-2 mb-2">
        <button class="btn btn-primary btn-sm" type="submit">Buscar</button>
      </div>
      <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 mb-2 text-end" *ngIf="rowData && columnDefs">

        <button type="button" mat-raised-button class="btn-sm btn-primary" (click)="expandAll()">{{txtButton}}</button>
        <button type="button" mat-raised-button class="btn-sm btn-primary" (click)="refresh()">Refresh</button>
      </div>
    </div>


  </form>
</div>
<div class="container-fluid" *ngIf="rowData && columnDefs">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [disabled]="!programablesData" id="1" (opened)="test($event)"
                         (closed)="test($event)">
      <mat-expansion-panel-header>
      </mat-expansion-panel-header>

      <div class="row" *ngIf="programablesData">
        <div class="col-md-5" *ngIf="false">
          <mat-card class="p-1" style="height: 100%">
          </mat-card>
        </div>
        <div class="col-md-12">
          <mat-card class="p-1">
            <mat-tab-group>
              <mat-tab label="Programables">
                <app-programables-gla-tw [rowData]="programablesData" [formulario]="nivelForm"
                                         [rowNodeData]="rowNodeData"
                                         (refreshTable)="refreshProgramables($event)"
                                         (setSearchGrid)="getDet2GantChartProgram($event)"
                ></app-programables-gla-tw>
              </mat-tab>
              <mat-tab label="Requisitos">
                <app-requisitos-gla-tw [rowData]="requisitos"></app-requisitos-gla-tw>
              </mat-tab>
              <mat-tab label="Causas DNC">
                <app-causas-gla-tw [rowData]="causas"></app-causas-gla-tw>
              </mat-tab>
              <mat-tab label="Causas Exceso">
                <app-causas-exceso [rowData]="causasExceso"></app-causas-exceso>
              </mat-tab>
              <mat-tab label="Causas Calidad">
                <app-causas-calidad-tab [rowData]="causasCalidad"></app-causas-calidad-tab>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true" class="p-0">
      <mat-expansion-panel-header>
      </mat-expansion-panel-header>
      <div *ngIf="rowData && columnDefs">
        <app-chart-gantt-tw [rowData]="rowData"
                            [columnDefs]="columnDefs"
                            [height]="height"
                            (refreshTable)="updateGantt2()"
                            [dayColSet]="dayColSet"
                            [listOwner]="listOwner"
                            [formulario]="nivelForm"
                            (closeSwal)="closeSwal()"
                            [subpartidas]="subpartidas"
                            (reloadTableEmit)="updateGanttFUll()"
                            (realoadCausas)="getDetCausasNoCumpltoTaskGanttTriWeekly($event)"
                            (rowNodeSelected)="getDetRequesitosCategoryGantt($event)"
                            (realoadRequisitos)="getDetRequesitosCategoryGantt($event)"
        ></app-chart-gantt-tw>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


</div>
