<div class="test">
  <ag-grid-angular
    class="ag-theme-alpine"
    id="calendario"
    style="height: 150px !important;"
    [rowData]="rowData"
    [headerHeight]="25"
    [rowHeight]="20"
    [columnDefs]="columnDefs"
    [aggFuncs]="aggFunc"
    [suppressChangeDetection]="true"
    [suppressAggFuncInHeader]="true"
    [defaultColDef]="defaultColDef"
    [frameworkComponents]="frameworkComponents"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [gridOptions]="gridOptions"
    [rowClassRules]="rowClassRules"
    [getRowStyle]="getRowStyle"
    [animateRows]="true"
    (cellEditingStopped)="edicionDeCampos($event)"
    (cellEditingStarted)="saveValue($event)"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>
