
.mat-button {
  width: 35px !important;
  height: 17px !important;
  line-height: 20px !important;
  font-size: 12px !important;
  border-radius: 15% !important;
}

span .mat-mini-fab .mat-button-wrapper {
  line-height: 20px !important;
}
