<div class="newGrilla" *ngIf="showTable">
  <ag-grid-angular
    class="ag-theme-alpine"
    id="calendario"
    [ngStyle]="height"
    [rowData]="rowData"
    [treeData]="true"
    [headerHeight]="25"
    [rowHeight]="20"
    [columnDefs]="columnDefs"
    [aggFuncs]="aggFuncs"
    [sideBar]="sideBar"
    [enableColResize]="true"
    [rowSelection]="rowSelection"
    (rowDataChanged)="cambiaData($event)"
    (selectionChanged)="onSelectionChanged()"
    [suppressChangeDetection]="true"
    [getDataPath]="getDataPath"
    [suppressAggFuncInHeader]="true"
    [groupDefaultExpanded]="10"
    [defaultColDef]="defaultColDef"
    [frameworkComponents]="frameworkComponents"
    [autoGroupColumnDef]="autoGroupColumnDef"
    (cellEditingStopped)="edicionDeCampos($event)"
    (cellEditingStarted)="saveValue($event)"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>
